{% load static %}


	<!-- End QT -->


				<div class="col-9">

                {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}

                 <div class="row">
                     <div class="col-md-6">
                         <div class="section-title">
                            <h3 class="title">Haberler</h3>
                        </div>
                     <ul class="list-links">
                         {% for rs in news %}
                            <li><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a><li>
                         {% endfor %}
                     </ul>
                     </div>


                      <div class="col-md-6">
                         <div class="section-title">
                            <h3 class="title">Duyurular</h3>
                        </div>
                     <ul class="list-links">
                         {% for rs in announcements %}
                            <li><a href="/content/{{ rs.id }}/{{ rs.slug }}">{{ rs.title }}</a><li>
                         {% endfor %}
                     </ul>
                     </div>



				    <div class="col-lg-12">

					    <div class="heading-title text-center">




						    <h2>İlanlar</h2>
						    <p>İhtiyacınıza uygun araçlar için ilanlarımıza göz atın</p>
					    </div>
				    </div>
		    	</div>


					<div class="tab-content" id="v-pills-tabContent">

						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

							<div class="row">

                                {% for rs in dayproducts %}

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="{{  rs.image.url }}" class="img-fluid" style="height:200px;"  alt="Image"  >
										<div class="why-text">
											<h4>{{ rs.title }}</h4>
											<p>{{ rs.keywords }}</p>
											<h5> ${{ rs.price }}</h5>
                                            <a class="btn btn-lg btn-circle btn-outline-new-white" href="/product/{{ rs.id }}/{{ rs.slug }}">İncele</a>

                                            <a class="" href="/order/addtocart/{{ rs.id }}"><i class="fa fa-shopping-cart"></i>Add To Cart </a>

										</div>
									</div>
								</div>
                                {% endfor %}



                            </div>
						</div>
					</div>




                <div class="row">
				    <div class="col-lg-12">
					    <div class="heading-title text-center">
						    <h2>Yeni Eklenen İlanlar</h2>
					    </div>
				    </div>
		    	</div>




                <div class="tab-content" id="v-pills-tabContent">

						<div class="tab-pane fade show active" id="v-pills-home" role="tabpanel" aria-labelledby="v-pills-home-tab">

							<div class="row">

                                {% for rs in lastproducts %}

								<div class="col-lg-4 col-md-6 special-grid drinks">
									<div class="gallery-single fix">
										<img src="{{  rs.image.url }}" class="img-fluid" style="height:200px" width="250" alt="Image"  >
										<div class="why-text">
											<h4>{{ rs.title }}</h4>
											<p>{{ rs.keywords }}</p>
											<h5> ${{ rs.price }}</h5>
                                            <a class="btn btn-lg btn-circle btn-outline-new-white" href="/product/{{ rs.id }}/{{ rs.slug }}">İncele</a>
                                            <a class="" href="/order/addtocart/{{ rs.id }}"><i class="fa fa-shopping-cart"></i>Add To Cart </a>

										</div>
									</div>
								</div>
                                {% endfor %}



                            </div>
						</div>
					</div>



				</div>
			</div>

		</div>
	</div>
	<!-- End Menu -->

	<!-- Start Gallery -->
	<div class="gallery-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Gallery</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="tz-gallery">

				<div class="row">
                     {% for rs in randomproducts %}
					<div class="col-sm-12 col-md-4 col-lg-4">
						<a class="lightbox" href="{{  rs.image.url }}" >
							<img class="img-fluid" src="{{  rs.image.url }}" style="height:200px;" width="250" alt="Gallery Images">
						</a>
					</div>
                    {% endfor %}

				</div>
			</div>
		</div>
	</div>

	<!-- End Gallery -->

	<!-- Start Customer Reviews -->
	<div class="customer-reviews-box">
		<div class="container">
			<div class="row">
				<div class="col-lg-12">
					<div class="heading-title text-center">
						<h2>Customer Reviews</h2>
						<p>Lorem Ipsum is simply dummy text of the printing and typesetting</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-md-8 mr-auto ml-auto text-center">
					<div id="reviews" class="carousel slide" data-ride="carousel">
						<div class="carousel-inner mt-4">
							<div class="carousel-item text-center active">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/quotations-button.png'%}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Paul Mitchel</strong></h5>
								<h6 class="text-dark m-0">Web Developer</h6>
								<p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/quotations-button.png'%}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Steve Fonsi</strong></h5>
								<h6 class="text-dark m-0">Web Designer</h6>
								<p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							</div>
							<div class="carousel-item text-center">
								<div class="img-box p-1 border rounded-circle m-auto">
									<img class="d-block w-100 rounded-circle" src="{% static 'images/quotations-button.png'%}" alt="">
								</div>
								<h5 class="mt-4 mb-0"><strong class="text-warning text-uppercase">Daniel vebar</strong></h5>
								<h6 class="text-dark m-0">Seo Analyst</h6>
								<p class="m-0 pt-3">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam eu sem tempor, varius quam at, luctus dui. Mauris magna metus, dapibus nec turpis vel, semper malesuada ante. Idac bibendum scelerisque non non purus. Suspendisse varius nibh non aliquet.</p>
							</div>
						</div>
						<a class="carousel-control-prev" href="#reviews" role="button" data-slide="prev">
							<i class="fa fa-angle-left" aria-hidden="true"></i>
							<span class="sr-only">Previous</span>
						</a>
						<a class="carousel-control-next" href="#reviews" role="button" data-slide="next">
							<i class="fa fa-angle-right" aria-hidden="true"></i>
							<span class="sr-only">Next</span>
						</a>
                    </div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Customer Reviews -->

	<!-- Start Contact info -->
	<div class="contact-imfo-box">
		<div class="container">
			<div class="row">
				<div class="col-md-4 arrow-right">
					<i class="fa fa-volume-control-phone"></i>
					<div class="overflow-hidden">
						<h4>Phone</h4>
						<p class="lead">
							+01 123-456-4590
						</p>
					</div>
				</div>
				<div class="col-md-4 arrow-right">
					<i class="fa fa-envelope"></i>
					<div class="overflow-hidden">
						<h4>Email</h4>
						<p class="lead">
							yourmail@gmail.com
						</p>
					</div>
				</div>
				<div class="col-md-4">
					<i class="fa fa-map-marker"></i>
					<div class="overflow-hidden">
						<h4>Location</h4>
						<p class="lead">
							800, Lorem Street, US
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!-- End Contact info -->