{% load static %}
<!DOCTYPE html>
<html lang="en"><!-- Basic -->
<head>

    	<meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <!-- Mobile Metas -->
    <meta name="viewport" content="width=device-width, initial-scale=1">

     <!-- Site Metas -->
    <title>{% block title %} Django Araç Ticaret Sitesi {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} Anasayfa Anahtar {% endblock %}">
    <meta name="description" content="{% block description %} Anasayfa kısa yazı {% endblock %}">

    <meta name="author" content="">

    <!-- Site Icons -->
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
    <link rel="apple-touch-icon" href="images/apple-touch-icon.png">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
	<!-- Site CSS -->
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <!-- Responsive CSS -->
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <!-- Custom CSS -->
    <link rel="stylesheet" href="{% static 'css/custom.css' %}">



    <link rel="stylesheet" href="{% static 'js/jquery.mask.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-1.12.4.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/semantic.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/swiper.min.js' %}">

    <link rel="stylesheet" href="{% static 'css/expertise.css' %}">
    <link rel="stylesheet" href="{% static 'css/royalslider.css' %}">
    <link rel="stylesheet" href="{% static 'css/rs-default.css' %}">
    <link rel="stylesheet" href="{% static 'css/carDetail.css' %}">


    <link rel="stylesheet" href="{% static 'js/jquery.royalslider.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/bundle.js' %}">
    <link rel="stylesheet" href="{% static 'js/b2.ekspertiz.js' %}">
    <link rel="stylesheet" href="{% static 'js/b2.carDetail.js' %}">
    <link rel="stylesheet" href="{% static 'js/jquery.gmap.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/util.js' %}">
    <link rel="stylesheet" href="{% static 'js/common.js' %}">
    <link rel="stylesheet" href="{% static 'js/b2.time.counter.js' %}">
    <link rel="stylesheet" href="{% static 'js/tether.min.js' %}">
    <link rel="stylesheet" href="{% static 'js/jquery-3.2.1.js' %}">
    <link rel="stylesheet" href="{% static 'js/analytics.js' %}">








    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    {% block head %} {% endblock %}
</head>
<body>
    {% include 'header.html' %}
    {% block sidebar %}   {% endblock %}
    {% block slider %} {% endblock %}
    {% block content %}     {% endblock %}
    {% block body %} {% endblock %}
    {% include 'footer.html' %}
    {% block foot %} {% endblock %}



</body>
</html>


