{% extends "homebase.html" %}

{% block title %}{{ product.title }} {% endblock %}
{% block keywords %} {{ product.keywords }} {% endblock %}
{% block description %} {{ product.description }} {% endblock %}

{% block head %}
    <link rel='shortcut icon' type='image/x-icon' href='{{ setting.icon.url }}'/>
{% endblock %}





{% block body %}




    <!-- Start All Pages -->
	<div class="all-page-title page-breadcrumb " >
		<div class="container text-center">
			<div class="row">
				<div class="col-lg-12">
					<h1>Ürün Detay</h1>

				</div>
			</div>
		</div>
	</div>
	<!-- End All Pages -->




<!-- // CAR GALLERY - START // -->
<article class="car-gallery">
    <div class="container">

        <div class="row clearfix">
            <!-- // CAR SLIDER - START // -->
            <div class="col-md-7 float-left clearfix">
                <div class="carPhotoMain">


<div id="carDetail1_carPhotoGalleryRS1_aracResimGaleriMain" class="docs-pictures vehicle-gallery" style="height:575px;">

    <div id="carDetail1_carPhotoGalleryRS1_wehicleGallery" class="royalSlider rsDefault fwImage span_4 rsHor rsWebkit3d rsWithThumbs rsWithThumbsHor" style="height: 562.24px;">

        <div class="rsOverflow grab-cursor" style="width: 635px; height: 499.234px;"><div class="rsContainer" style="transition-duration: 0s; transform: translate3d(0px, 0px, 0px);">
{% for rs in images %}
            <div style="left: 0px;" class="rsSlide "><img class="rsImg" src=" {{ rs.image.url }} " alt="{{ product.title }}" style="width: 599px; height: 400px; margin-left: 18px; margin-top: 49px;
             {% endfor %}
             transition: opacity 400ms ease-in-out 0s; visibility: visible; opacity: 1;">
            </div>

            <div style="left: 643px;" class="rsSlide "><img class="rsImg" src=" {{ rs.image.url }}" alt="VOLKSWAGENGOLF1.6 TDI BMT COMFORTLINE DSG" style="width: 599px; height: 400px; margin-left: 18px; margin-top: 49px;"></div>

            <div style="left: 1286px;" class="rsSlide "><img class="rsImg" src="{{ rs.image.url }}" alt="VOLKSWAGENGOLF1.6 TDI BMT COMFORTLINE DSG" style="width: 599px; height: 400px; margin-left: 18px; margin-top: 49px;"></div>

        </div><div class="rsFullscreenBtn"><div class="rsFullscreenIcn"></div></div><div class="rsArrow rsArrowLeft rsArrowDisabled" style="display: block;"><div class="rsArrowIcn"></div></div><div class="rsArrow rsArrowRight" style="display: block;">
            <div class="rsArrowIcn"></div></div>
        </div>

        <div class="rsNav rsThumbs rsThumbsHor">

            <div class="rsThumbsContainer" style="transition-property: -webkit-transform; width: 2047px; transition-duration: 600ms; transition-timing-function: cubic-bezier(0.445, 0.05, 0.55, 0.95); transform: translate3d(4px, 0px, 0px);">
        {% for rs in images  %}
        <div style="margin: 0 4px 4px 0;" class="rsNavItem rsThumb"><span class="thumbIco"></span><img class="rsTmb" alt="Ford İkinci El Araç Görseli" src="{{ rs.image.url }}"></div>
                {% endfor %}
            </div>
        <div class="rsThumbsArrow rsThumbsArrowLeft rsThumbsArrowDisabled"><div class="rsThumbsArrowIcn"></div></div>
        <div class="rsThumbsArrow rsThumbsArrowRight"><div class="rsThumbsArrowIcn"></div></div>
        </div>

        <div class="rsGCaption"></div>
    </div>
</div>

                </div>
            </div>


            <!-- // CAR SLIDER - END // -->

            <!-- // TEKNIK OZELLIKLER - START // -->
            <div class="col-md-5 float-left clearfix">
                <div class="row">
                <div class="teknik-ozellikler">
                    <h2 class="title padding-vertical-5 padding-horizontal-10 ">TEKNİK ÖZELLİKLER</h2>
                    <div class="features-content">
                        <ul class="ul-reset row-vertical clearfix">
                            <li>
                                <div class="row clearfix">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Fiyat</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span class="stokId ">
                                           $ {{ product.price }}</span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row clearfix">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>İlan No</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span class="stokId ">
                                            {{ product.id }}</span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Marka</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span class="Marka">
                                            {{ product.title }}</span>
                                    </div>
                                </div>
                            </li>



                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Model</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span class="cMarka">
                                            {{ product.description }}</span>
                                    </div>
                                </div>
                            </li>


                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Adet</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span class="cModelYili">
                                            {{ product.amount }}</span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Km</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            112.626</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Aktarma Türü</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            -</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Şanzıman Türü</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            Otomatik</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Yakıt Türü</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            Dizel</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Araç Rengi</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            -</span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Motor Gücü (hp)</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            110</span>
                                    </div>
                                </div>
                            </li>
                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Silindir Hacmi (cc)</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            1598</span>
                                    </div>
                                </div>
                            </li>

                            <li>
                                <div class="row">
                                    <div class="col-md-5 float-left clearfix">
                                        <label>Ağırlık (kg)</label>
                                    </div>
                                    <div class="col-md-7 float-left clearfix">
                                        <span>
                                            1242</span>
                                    </div>
                                </div>
                            </li>
                        </ul>

                    </div>
                </div>




                <!-- // add to cart formu  // -->
                    {% if messages %}
                        {% for message in messages %}
                            <div class="alert alert-{{ message.tags }}" role="alert">
                                {{ message }}
                            </div>
                        {% endfor %}
                    {% endif %}


                    <div class="product-btns">
                        <form action="/order/addtocart/{{ product.id }}" method="post">
                            {% csrf_token %}
                            <div class="qty-input">

                                <span class="text-uppercase"><p>  </p> </span>

                                <input name="quantity" class="input" type="number" value="1">

                            </div>
                            <button type="submit" class="primary-btn"><i class="fa fa-shopping-cart"></i> Add To Cart </button>
                        </form>






                        <div id="carDetail1_buAraciAlmakIstiyorumDiv" class="col-md-12 take-this-car">

                            <div id="carDetail1_buAraciAlmakIstiyorum" class="popupAlmakIstiyorum" data-dismiss="modal" data-title="Bu Aracı Almak İstiyorum" data-col="md-7" data-backdrop="false" style="display: none;">














<style type="text/css">
    .bigForm .formRow { margin-bottom: 5px; }
    .bigForm .formRow .column6:nth-child(2) label { margin-left: 15px; }
    .bigForm .formRow input,
    .bigForm .formRow textarea { width: 100%; }
    .telKod{width:100%;}
    .iltsm tbody{display:inline-flex;}
</style>



                    <div class="popover-buttons" style="display: none">
                        <a href="https://www.fordikinciel.com/volkswagen-golf-16_tdi_bmt_comfortline_dsg-2015-araba-39325#here" class="buttonFacebook"><i class="fa fa-facebook"></i>&nbsp;Facebook'ta Paylaş</a>
                        <a href="https://www.fordikinciel.com/volkswagen-golf-16_tdi_bmt_comfortline_dsg-2015-araba-39325#here" class="buttonTwitter"><i class="fa fa-twitter"></i>&nbsp;Twitter'da Paylaş</a>
                        <a href="whatsapp://send?text=2015%20VOLKSWAGEN%20GOLF%20%2F%201.6%20TDI%20BMT%20COMFORTLINE%20DSG%20%7C%20Ford%202.El%20-%20https%3A%2F%2Fwww.fordikinciel.com%2Fvolkswagen-golf-16_tdi_bmt_comfortline_dsg-2015-araba-39325" class="buttonWhatsapp"><i class="fa fa-whatsapp"></i>&nbsp;Whatsapp'ta Paylaş</a>
                    </div>

                </div>
                <!-- // SHARE - END // -->
                </div>
            </div>
            <!-- // TEKNIK OZELLIKLER - END // -->
        </div>
    </div>
</article>
<!-- // CAR GALLERY - END // -->

                <div class="blog-comment-box">

                {{ product.detail | safe }}

							<h3>Comments</h3>

{% load static %}

                            {%  for rs in comments %}
							<div class="comment-item">
								<div class="comment-item-left">
									<img src="{% static 'images/avt-img.jpg'%} " alt="">
								</div>
								<div class="comment-item-right">
									<div class="pull-left">
										<a href="#">{{ rs.user.first_name }}</a>
									</div>
									<div class="pull-right">
										<i class="fa fa-clock-o" aria-hidden="true"></i>Time : <span>{{rs.create_at}}</span>
									</div>

                                    <div class="des-l">
										<p> Subject : {{ rs.subject }}</p>
									</div>

                                    <div class="des-l">
										<p> E-Mail : {{ rs.email }}</p>
									</div>
									<div class="des-l">
                                        <h2><p>--- >{{ rs.comment }}</p></h2>
									</div>
									<a href="#" class="right-btn-re"><i class="fa fa-reply" aria-hidden="true"></i> Reply</a>
								</div>
							</div>
                            {% endfor %}



						</div>
						<div class="comment-respond-box">
							<h3>Leave your comment </h3>

							<div class="comment-respond-form">
								<form id="commentrespondform" class="comment-form-respond row" method="post" action="/product/addcomment/{{ product.id }}">
									<div class="col-lg-6 col-md-6 col-sm-6">
                                        {% csrf_token %}
										<div class="form-group">
											<input id="id_subject" class="form-control" name="subject" placeholder="Subject" type="text">
										</div>
										<div class="form-group">
											<input id="id_email" class="form-control" name="email" placeholder="Your Email" type="email">
										</div>
									</div>
									<div class="col-lg-6 col-md-6 col-sm-6">
										<div class="form-group">
											<textarea class="form-control" id="id_comment" name="comment" placeholder="Your Message" rows="2"></textarea>
										</div>
									</div>
									<div class="col-lg-12 col-md-12 col-sm-12">
										  {% if user.id is not None %}
										<button class="btn btn-submit">Submit comment</button>
                                        {% else %}
                                        Yorum Eklemek için <a href="/login" >Login</a> Olunuz
                                        {% endif %}

                                        {% if messages %}
                                            {% for message in messages %}
                                                <div class="alert alert-{{ message.tags }}" role="alert">
                                                    {{ message }}
                                                </div>
                                            {% endfor %}
                                        {% endif %}
									</div>
								</form>
							</div>
						</div>








					</div>
				</div>
			</div>





		</div>
	</div>
	<!-- End Customer Reviews -->

{% endblock %}

