
<div class="col-lg-3">
<div class="row inner-menu-box">


				<div class="row">

					<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">


                    <li class="nav-item dropdown">
                    <a class="nav-link active dropdown-toggle" href="#"  data-toggle="dropdown">CATEGORY</a>
                    <div class="dropdown-item" aria-labelledby="dropdown-a">

                         {% load mptt_tags %}

                    <ul>

                    {% recursetree category %}

                             <a href="/category/{{ node.id }}/{{ node.slug }}"  class="nav-link " data-toggle="pill dropdown"  {% if not node.is_leaf_node %}  role="tab" aria-controls="v-pills-home" aria-selected="true" {% endif %}  >{{ node.title }} {% if not node.is_leaf_node %} <i class="fa fa-angle-right"></i> {% endif %} </a>

                                            <div class="dropdown-item" aria-labelledby="dropdown-a">
                                                {% if not node.is_leaf_node %}
                                                    <ul class="dropdown-item">
                                                        <li><a class="dropdown-item" href="/category/{{ node.slug }}">{{ children }}</a> </li>
                                                    </ul>
                                                {% endif %}

                                            </div>

                         {% endrecursetree %}
                        </ul>
					</div>
				</div>
</div>
</div>
</div>



