{% load static %}
<!-- Start slides -->
	<div id="slides" class="cover-slides">
		<ul class="slides-container">
			<li class="text-left">
				<img src="{% static 'images/slider1.jpg'%}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> BMW Life</strong></h1>
							<p class="m-b-40">Delve into the fascinating world of BMW. Read inspiring stories and interviews <br>
							watch exciting videos and receive helpful answers to the most pressing questions.</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-left">
				<img src="{% static 'images/slider2.jpg'%}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Mercedes-Benz Life</strong></h1>
							<p class="m-b-40">Exclusive reports and current films:  <br>
							experience a broad range of topics from the fascinating world of Mercedes-Benz. </p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
						</div>
					</div>
				</div>
			</li>
			<li class="text-left">
				<img src="{% static 'images/slider3.jpg'%}" alt="">
				<div class="container">
					<div class="row">
						<div class="col-md-12">
							<h1 class="m-b-20"><strong>Welcome To <br> Audi Life</strong></h1>
							<p class="m-b-40">Discover Audi as a brand, company and employer on our international website.  <br>
							 Here you will find information ...</p>
							<p><a class="btn btn-lg btn-circle btn-outline-new-white" href="#">Reservation</a></p>
						</div>
					</div>
				</div>
			</li>
		</ul>
		<div class="slides-navigation">
			<a href="#" class="next"><i class="fa fa-angle-right" aria-hidden="true"></i></a>
			<a href="#" class="prev"><i class="fa fa-angle-left" aria-hidden="true"></i></a>
		</div>
	</div>
	<!-- End slides -->

