/* --------------------------------------------------------
--- B2 Yazilim A.S.
--- +90 (212) 320 7356
--- www.b2yazilim.com
--------------------------------------------------------*/


/* GENERAL
--------------------------------------------------------*/
article .detail-title { font-family: 'FordAntenna'; padding: 5px 10px; background-color: #005696; color: #fff; font-weight: 500; font-size: 20px; }
article .sub-title { font-family: 'FordAntenna'; padding: 5px 10px; background-color: #005696; opacity: 0.5; color: #fff; font-size: 20px; }
article.title > * { font-family: 'FordAntenna'; color: #005696; }
article.dealer-information > * { font-family: 'FordAntenna'; }


/* TITLE
--------------------------------------------------------*/
article.title .vehicle-title > h1 { font-weight: bold; font-size: 28px; }
article.title .car-price > .price { font-weight: bold; font-size: 28px; }
article.title .car-price > .price-currency { font-size: 28px; font-weight: 400; }


/* GALLERY
--------------------------------------------------------*/
.rsDefault .rsOverflow, .rsDefault .rsSlide, .rsDefault .rsVideoFrameHolder, .rsDefault .rsThumbs { background: #F4F4F4 !important; }
.carPhotoMain { position: relative; }
.imgGaranti { position: absolute; top: 10px; right: 25px; width: 120px; z-index: 100; }
.satildi,
.rezerve { position: absolute; top: 190px; left: -5px; width: auto; z-index: 100; }
.imgFavori { position: absolute; top: 45px; right: 38px; width: auto; z-index: 100; }
.imgRapor {position: absolute; top: 10px; left: 25px; width: 100px; z-index: 100;}



/* TEKNIK OZELLIKLER
--------------------------------------------------------*/
article.car-gallery .teknik-ozellikler { width:100%; }
article.car-gallery .teknik-ozellikler .detail-title { font-weight: 600; color: #fff; font-size: 18px; background-color: #005696; }
article.car-gallery .teknik-ozellikler .features-content > ul > li { background-color: #f4f4f4; margin-bottom: 1px; padding: 2px 10px; }
article.car-gallery .teknik-ozellikler .features-content > ul > li label { color: #fa4c06; font-weight: 700; margin-bottom: 0; }
article.car-gallery .teknik-ozellikler .features-content > ul > li span { color: #005696; font-weight: 700; display: block; width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; }
article.car-gallery .carPhotoMain .icFaizYok { position: absolute; z-index: 50; left: -8px; top: -8px; }


/* SHARE
--------------------------------------------------------*/
article.car-gallery .share-buttons { margin-top: 10px; }

article.car-gallery .share-buttons .share-button { text-align: center; background-color: #f4f4f4; padding: 15px 0; margin-bottom: 5px; display: block; transition: .5s; }

article.car-gallery .share-buttons .share-button:hover { background-color: #d4d4d4; }
article.car-gallery .share-buttons .share-button a,
article.car-gallery .share-buttons .share-button-small a { color: #6a6a6a; font-weight: 600; display: block; }
article.car-gallery .share-buttons .share-button a img { display: block; margin: auto; margin-bottom: 8px; position: relative; top: 0px; transition: .5s; }
article.car-gallery .share-buttons .share-button:hover a img { top: 5px; }

article.car-gallery .share-buttons .share-button-small { text-align: center; background-color: #f4f4f4; padding: 14px 0; margin-bottom: 5px; display: block; transition: .5s; }
article.car-gallery .share-buttons .share-button-small:hover { background-color: #d4d4d4; }

article.car-gallery .share-buttons .share-button-small a img { margin-right: 10px; position: relative; left: 0; transition: .5s; }
article.car-gallery .share-buttons .share-button-small:hover a img { left: 5px; }

article.car-gallery .share-buttons .take-this-car .share-button { padding: 9px 0px; }
article.car-gallery .share-buttons .take-this-car .share-button i { margin-right: 10px; margin-left: -10px; }

article.car-gallery .share-buttons .fekspertiz-rapor-btn { padding-bottom: 5px; }
article.car-gallery .share-buttons .fekspertiz-rapor-btn .share-button { display:table;height: 100% !important;background-color: #005696; }
article.car-gallery .share-buttons .fekspertiz-rapor-btn .share-button a { display:table-cell; vertical-align: middle; color: white;font-size: 20px; }
article.car-gallery .share-buttons .fekspertiz-rapor-btn .share-button a img { width: 75%; }

.popover-content a { display: block; color: #6a6a6a; }
.popover-content a i { text-align: center; width: 15px; color: #005696; font-size: 18px }


/* DONANIMLAR
--------------------------------------------------------*/
article.equipments .donanimlar { padding: 20px; }
article.equipments .donanimlar h4 { color: #005696; font-size: 22px; font-weight: 700; }
article.equipments .donanimlar .col-md-6 > ul { margin-left: 20px; margin-bottom: 20px; }
article.equipments .donanimlar .col-md-6 > ul li { color: #6a6a6a; font-weight: 600; }


/* EKSPERTIZ VE DIGER BILGILER
--------------------------------------------------------*/
article.other-detail { margin-bottom: 55px; }
article.other-detail .other-info .service-content { padding: 35px 10px; }


/* DEALER INFORMATION
--------------------------------------------------------*/
article.dealer-information { margin-bottom: 75px; }
article.dealer-information .dealer-info > ul { margin: 25px; }
article.dealer-information .dealer-info > ul > li { color: #005696; font-size: 24px; margin: 20px 0px; word-wrap:break-word; }
article.dealer-information .map-area .take-me { background-color: #fa4c06; padding: 5px; text-align: center; }
article.dealer-information .map-area .take-me a { width: 100%; display: block; color: #fff; font-size: 24px; margin-left: -15px; }
article.dealer-information .map-area .take-me img { display: inline-block; margin-right: 20px; }


i.fas.fa-user{ float: left !important; width: 85px !important; text-align: center !important; height: 85px !important; background-color: #9292922e !important; color: #808080b5 !important; display: flex !important; justify-content: center !important; font-size: -webkit-xxx-large !important; align-items: center !important;}

/* RESPONSIVE
--------------------------------------------------------*/
@media (max-width: 992px) and (min-width: 576px) {
    .container { width: 100%; }
}

@media (max-width: 768px) {
    article.title .vehicle-title > h1 { font-size: 22px; }
    .dealer-information .col-md-6{ margin-bottom:20px}
}

@media (max-width: 576px) {
    article.title .vehicle-title > h1 { font-size: 16px; }
    article.car-gallery .carPhotoMain .icFaizYok { width: 100px; left: -8px; top: -8px; }

    /* Gallery */
    .imgGaranti { top: 10px; right: 25px; width: 50px; }
    .satildi,
    .rezerve { top: 100px; }
    
}


#KrediFormu {display:none;}
#KrediFormu #PhoneValidateBtn { padding: 10px 5px; font-size: 12px; width: 30%; margin-top: -5px; }